<!doctype html>
<html>
<head>
  <title>image wizard &#8226 image</title> 
  <meta charset=utf-8>
  <link rel="stylesheet" href="../static/css/image.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="app-wrap">
      <div class="header">
          <div>
              <form method="post">
                  <input class="btn" value="image wizard" type="submit" name="go_home_button">
              </form>
            </div>

          <div>                
          </div>

          <div>
          </div>
            
      </div>
      
      <div class="readForm">
        <strong>Your text is {{ text }}</strong>
      </div>

      <div class="footer">

        <div class="credits">
            2021 Golden Code Dev ®
        </div>

        <div class="socials">

        </div>
    </div>

  </div>
</body>
</html>